.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 75%;
}

.search-container {
  margin-bottom: 20px;
  padding: 10px;
}

.search-field {
  width: 100%;
}
